@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background-color: #777;
  --accent-color: #ff8356;
  --fone-color: #fef9f9;
  --background-modal:  #9a9b96;

  --yellow: #ffc107;
  --white: #ffffff;
  --white-bg: #fdf7f2;

  --black: #111111;
  --medium-blue: #76bcf9;
  --blue: #54adff;
  --light-blue: #9acbf8;
  --green: #159638;
  --dark-green: #14532d;
  --red: #b10b26;
  --grey: #888888;
  --purple: #7b0a0a;

  /* Your default theme */
  --background: #eee;
  --foreground: #333;
  --text:#222;

  --auth-bg:#034739;
  --website-bg:#242c63;

}

body{
  background-color: #888;
  min-height: 100vh;
}